a {
  color: black; }

.navbar {
  font-family: "Trebuchet MS"; }
  .navbar .navbar-brand {
    letter-spacing: 3px; }
  .navbar .navbar-right {
    letter-spacing: 5px; }

.title {
  font-size: 34pt;
  font-weight: lighter;
  letter-spacing: 0.4em;
  margin-bottom: 0.5em;
  text-align: center; }

#splash {
  height: 800px;
  width: 100%; }
  #splash .header {
    width: 1000px;
    text-align: center;
    margin: auto;
    padding-top: 20%;
    color: white;
    font-family: "Trebuchet MS";
    padding-bottom: 15%; }
  #splash .subTitle {
    font-size: 24pt;
    letter-spacing: 25px; }
  #splash .mainTitle {
    font-size: 72pt;
    letter-spacing: 14px; }
  #splash .transition {
    background-image: url("../img/transition.png");
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    z-index: 0; }

#mobile-splash {
  display: none; }

#mission {
  overflow: hidden;
  width: 80%;
  height: 100%;
  margin: auto;
  font-size: 14pt;
  padding-top: 80px; }
  #mission .content {
    float: left;
    letter-spacing: 1px;
    width: 50%;
    margin-right: 7em; }
  #mission .picture {
    float: left;
    max-height: 400px;
    max-width: 400px; }
  #mission #title-drop {
    clear: both;
    padding-top: 60px;
    padding-bottom: 60px; }

#staff {
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 40px;
  position: relative; }
  #staff .intro {
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 14pt;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 50px; }
  #staff .trainer-a {
    clear: both;
    margin-top: 3em; }
    #staff .trainer-a .name {
      font-size: 42pt;
      letter-spacing: 0.3em;
      font-weight: lighter;
      margin: 0.5em; }
    #staff .trainer-a .trainer-img {
      float: left;
      margin-right: 20px;
      margin-bottom: 5em; }
    #staff .trainer-a .mobile-trainer-img {
      display: none; }
    #staff .trainer-a .bio {
      text-align: left;
      width: 80%; }
  #staff .trainer-b {
    clear: both;
    margin-top: 2.0em;
    overflow: auto; }
    #staff .trainer-b .name {
      font-size: 42pt;
      letter-spacing: 0.3em;
      font-weight: lighter;
      margin: 10px;
      text-align: right; }
    #staff .trainer-b .trainer-img {
      float: right;
      margin-right: 20px; }
    #staff .trainer-b .mobile-trainer-img {
      display: none; }
    #staff .trainer-b .bio {
      width: 55%;
      float: right;
      text-align: right;
      margin-right: 1.0em; }

#facilities {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background-color: white; }
  #facilities .intro {
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 14pt;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 50px; }
  #facilities .next {
    float: right; }
  #facilities #slides {
    display: none; }

#contact {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  color: white; }
  #contact .content {
    width: 75%;
    margin: auto;
    margin-bottom: 15%; }
    #contact .content .info {
      font-size: 14pt;
      font-weight: lighter; }
    #contact .content .map {
      display: block;
      float: right; }

footer {
  background-color: black;
  color: white;
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: 8pt;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%; }
  footer .icons {
    letter-spacing: 5px; }

.bumper {
  width: 100%;
  height: 50px; }

#bumper {
  width: 100%;
  height: 0px; }

@media only screen and (max-width: 450px) {
  .navbar {
    display: none; }

  #splash {
    display: none; }

  .bumper {
    display: none; }

  #mobile-splash {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: lighter; }
    #mobile-splash .header-info {
      font-size: 10pt; }

  .button {
    display: none; }

  #facilities {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 5%; }

  #staff {
    height: 100%;
    width: 100%;
    margin: auto; }
    #staff .trainer {
      height: 90%;
      width: 90%;
      margin: auto;
      clear: both;
      padding-bottom: 10%; }
      #staff .trainer .name {
        font-size: 12pt;
        text-align: center; }
      #staff .trainer .bio {
        width: 90%;
        height: 100%;
        font-size: 10pt;
        margin: auto;
        float: none;
        text-align: left; }
      #staff .trainer .trainer-img {
        display: none; }
      #staff .trainer .mobile-trainer-img {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto; }
      #staff .trainer .trainer-b .name {
        text-align: left;
        font-size: 12pt; }

  #mission {
    display: none; }

  #contact {
    background-image: url("../img/mobilesplash.jpg");
    color: white;
    text-align: center; }
    #contact .content {
      height: 100%;
      width: 100%;
      margin: auto; } }
@media only screen and (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }

/*# sourceMappingURL=style.css.map */
