.navbar{
	font-family: "Trebuchet MS";
	// background-color: rgba(253,248,245,0.8);

	.navbar-brand{
		letter-spacing: 3px;
	}

	.navbar-right{
		letter-spacing: 5px;
	}
}


.bumper{
	// height: 1127px;
	height: 800px;
	width: 100%;
	z-index:0;

	.header{
		width: 1000px;
		text-align: center;
		margin: auto;
		padding-top: 20%;
		color: white;
		font-family: "Trebuchet MS";
		padding-bottom: 15%
	}

	.subTitle{
		font-size: 24pt;
		letter-spacing: 25px;
	}

	.mainTitle{
		font-size: 72pt;
		letter-spacing: 14px;
	}

	.transition{
	background-image: url("../img/transition.png");
	background-size:100% 100%;
	width: 100%;
	height: 500px;
	z-index: 0;
	}
}


#our-story{
	height: 900px;
	width: 80%;
	margin: auto;
	font-size: 14pt;
	margin-top: 50px;
	z-index: 2;

	.title{
		font-size: 36pt;
		font-weight: lighter;
		letter-spacing: 10px;
		margin-bottom: 35px;
	}

	.content{
		float:left;
		width: 50%;
		height: 25%;
		margin-right: 50px;
	}

	.picture{
		float:left;
		max-height: 400px;
		max-width: 400px;
	}

	#title-drop{
		clear: both;
		padding-top: 50px;
	}
}

#mission{
	background-color: black;
	width: 100%;
	height: 900px;
	color: white;
}